# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
.env/
venv/
ENV/

# Test / coverage reports
.coverage*
htmlcov/
.pytest_cache/
.tox/

# IDE
.vscode/
.idea/

# Data
*.h5
*.hdf5
